[submodule "backend"]
	path = backend
	url = https://github.com/flightwhale88/aisdlctest/
	branch = backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/flightwhale88/aisdlctest/
	branch = frontend
[submodule "cli"]
	path = cli
	url = https://github.com/flightwhale88/aisdlctest/
	branch = cli
